<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>『{{title}}{% if subtitle %} {{ subtitle }}{% endif %}』{{ author }}{% if translator %}（{{ translator }}・訳）{% endif %} | 縦書きで読む青空文庫</title>
    <meta name="description" content="青空文庫を縦書きで読めるインストール不要のWebサービス（スマホ・タブレット・PC対応）">
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://aozora-format.herokuapp.com/static/bg.png">
    <meta property="og:title" content="『{{ title }}{% if subtitle %} {{ subtitle }}{% endif %}』{{ author }}{% if translator %}（{{ translator }}・訳）{% endif %} | 縦書きで読む青空文庫">
    <meta property="og:description" content="青空文庫を縦書きで読めるインストール不要のWebサービス（スマホ・タブレット・PC対応）">
    <meta property="og:site_name" content="縦書きで読む青空文庫">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1');
      
      html, body {
        margin: 0;
        padding: 0;
        font-feature-settings: "palt";
        font-family: 'Shippori Mincho B1', sans-serif;
        color: #333;
      }
      p, ul, ol {
        margin: 0;
      }
      main p {
        text-indent: 1em;
        hanging-punctuation: allow-end;
        text-align: justify;
      }
      body {
        max-height: 100vh;
        margin: 1em 0 0;
        padding: 0 2em calc(.5em + 10px);
        box-sizing: border-box;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-combine-upright:digits 3;
        text-underline-position: right;
        line-break: strict;
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;
        gap: 2em;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        line-height: 1.8em;
        overflow-x: scroll;
      }
      a {
        text-decoration: none;
      }
      ruby {
        ruby-position: over;
      }
      rtc {
        ruby-position: under;
      }
      .gaiji {
        margin: 2px 0;
        width: .9em;
        height: .9em;
      }
      .underline, u {
        text-underline-position: right;
      }
      .combine {
        text-combine-upright: all;
      }
      header {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      .title, .subtitle {
        color: #000;
        margin: 0 0 0 1em;
        font-size: 1.2rem;
      }
      .title {
        margin-top: 10vh;
      }
      .subtitle {
        margin-top: 20vh;
      }
      .author, .translator {
        align-self: flex-end;
        font-weight: normal;
        font-size: 1rem;
        margin: 0;
      }
      h3 {
        font-weight: normal;
        margin: 0 0 0 1em;
        font-size: 1.2rem;
      }
      .translators_notes {
        margin: 0 2em 0 1em;
      }
      .notes {
        font-size: 0.8em;
      }
      .separator,
      .naka-midashi {
        margin: 20vh 3em 0;
      }
      .separator:first-child {
        margin-right: 0;
      }
      footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 2em;
        border-right: 1px solid #333;
        padding-right: 2em;
      }
      .jisage_3 {
        margin-left: 0 !important;
      }
      .jisage_19 {
        margin-left: 0 !important;
      }
      .sho1 {
        margin-top: 5vh;
        margin-right: 3em;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 class="title">{{ title }}</h1>
      {% if subtitle %}<h2 class="subtitle">{{ subtitle }}</h2>{% endif %}
      <h2 class="author">{{ author }}</h2>
      {% if translator %}<h2 class="translator">{{ translator }}・訳</h2>{% endif %}
    </header>
    <main>{{ main_text }}</main>
    <footer>
      <div class="bibliographical_information">
        <h3>書誌情報</h3>
        <p>{{ info }}</p>
      </div>
      <div class="notation_notes">
        <h3>表記について</h3>
        {{ notes }}
      </div>
      <div class="card_link">
        <h3>ナビゲーション</h3>
        <ul>
          <li><a href="{{original_url}}" target="_blank">「青空文庫」で読む</a></li>
          <li><a href="{{card_href}}" target="_blank">「青空文庫」で図書カードを見る</a></li>
          <li><a href="/">「縦書きで読む青空文庫」のトップへ戻る</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
